body {
    background-color: rgb(98, 132, 210);
    color: rgb(52, 60, 79);
}
h1 {
    font-size: 48px;
    text-align: center;
}
ul > img {
    width: 200px;
    height: 200px;
}
ul {
    text-align: center;
    padding: 0;
}
li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: white;
}s
a:hover{
    color: gold;
}
.page-info {
    font-size: 24px;
    font-family: Stencil Std, fantasy;
    color: white;
}
