.pizza-img {
    margin: auto;
}

/* NEW STYLES AFTER LEARNING Box-model and other styling */
html {
    box-sizing: border-box;
    background-color: beige;
}
*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.navi {
    text-align: center;
    background-color: rgb(50, 46, 45);
    color: white;
    padding: 16px;
}
.recipe-container {
    margin: 50px auto;
    text-align: center;
}
ul > li{
    display: inline;
    margin: 20px;
}
img {
    opacity: 95%;
    width: 200px;
    height: 200px;
}
img:hover{
    opacity: 100%;
}
li {
    padding: 10px;
    list-style-type: none;
}
li > a {
    display: block;
}

footer {
    background-color: rgb(50, 46, 45);
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
}
a:hover {
    color: yellow;
}

/* Recipe page(s) */
.recipe-intro {
    background-color: rgb(50, 46, 45);
    color: white;
    text-align: center;
    padding: 10px;
}

.recipe {
    background-color: rgb(59, 138, 137);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.recipe li {
    display: block;
    border-left: 1px solid black;
}

.recipe-intro h2 {
    padding: 20px;
}


/* UPDATES 10/24/2024 - ? */
.body {
    displaY: flex;
    flex-direction: column;
    min-height: 100vh;
}
.recipe-container {
    flex: 1;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer {
    margin-top: auto;
}

ul > div {
    background-color: rgb(50, 46, 45);
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}
